version: '3.8'

services:
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=cognisupport
      - POSTGRES_PASSWORD=cognisupport_password
      - POSTGRES_DB=cognisupport_db
    ports:
      - "5432:5432"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://cognisupport:cognisupport_password@db/cognisupport_db
      - PROJECT_NAME=CogniSupport
      - MODEL_PATH=model.joblib
    volumes:
      - ./backend/app:/app/app # Hot reload for development
    command: sh -c "alembic upgrade head && uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"

volumes:
  postgres_data:
